@page "/"
@using NaughtyChoppersDA.Globals.Utils;
@using NaughtyChoppersDA.Services;
@using NaughtyChoppersDA.Entities;
@using NaughtyChoppersDA.Repositories;
@inject IUserService userService
@inject IProfileService profileService

<PageTitle>Naughty Choppers</PageTitle>

@*<div class="top-row px-4">
    @if (userService.User == null)
    {
        <a href="/user-login">Login</a>
        <a href="/user-register">Register</a>
    }

    @if (userService.User != null && profileService.Profile == null)
    {
        <a href="/create-profile">Create Profile</a>
    }
    <a href="/DatingPage">Dating</a>
    <a href="/">Index</a>

</div>*@

<h1>Love is in the Air</h1>

Start getting Naughty

@code{
    protected async override Task OnInitializedAsync()
    {
        if(userService.User != null && profileService.Profile == null)
        {
            profileService.Profile = await profileService.GetProfileByUserId(userService.User.UserId);
        }
    }
}