@page "/MyMatches";
@using NaughtyChoppersDA.Repositories;
@using NaughtyChoppersDA.Entities;
@using NaughtyChoppersDA.Services;
@inject IProfileService ProfileService
<h3>My Matches</h3>

@code {
	protected override void OnInitialized()
	{
		
	}
}
