
/* Custom styling for tooltips */
.invalid-tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 1em;
    padding: 0.25rem 0.5rem;
    color: black;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    transform: translateY(-50%);
    transition: all .15s ease-in-out;
    max-width: unset;
}

.invalid-tooltip::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-right-color: rgba(220,53,69,.9);
    transform: translateY(-50%);
}

.invalid-tooltip--text {
    margin-bottom: .3rem;
}

    .invalid-tooltip--text:last-of-type {
        margin-bottom: 0;
    }

    .invalid-tooltip--text::before {
        content: "\2022"; /* Unicode character for a bullet point (dot) */
        margin-right: 5px;
    }

.form-group--confirm-password {
    margin-bottom: 24px;
}
