@inherits LayoutComponentBase
@using NaughtyChoppersDA.Services
@inject IUserService UserService
@inject IProfileService ProfileService

<PageTitle>NaughtyChoppersDA</PageTitle>

<div class="page">
    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <div class="top-row px-4">
            @if (UserService.User == null)
            {
                <a href="/user-login">Login</a>
                <a href="/user-register">Register</a>
            }

            @if (UserService.User != null && ProfileService.Profile == null)
            {
                <a href="/create-profile">Create Profile</a>
            }

            @*<a href="/MyMatches">My Matches</a>*@
            <a href="chat/5815386B-1B08-468E-A4CB-01545ECE12C6">chat</a>
            <a href="/">Index</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>