@inherits LayoutComponentBase
@using NaughtyChoppersDA.Services
@inject IUserService UserService

<PageTitle>NaughtyChoppersDA</PageTitle>

<div class="page">
    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <div class="top-row px-4">
            <a href="/user-login">Login</a>
            <a href="/user-register">Register</a>
            <a href="/create-profile">Create Profile</a>
            <a href="/">Index</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>